* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    height: 370px;
    cursor: pointer;

}

/* .overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #151e3f;
    transition: all 0.9s ease;
  } */
  
  .imgDiv:hover .overlay {
    opacity: 0.8;
    transition: all 0.5s ease;
  }

.imgDiv{
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.gridItem:hover{
transform: scale(1.02);
}


.mainImg {
width: 108%;
object-fit: cover;
height: 100%;

}

.gridItemText {
    background:#c7c7c765;
    padding: 15px 10px;/* Zentriere den Text vertikal */
    color: #333;
  }
  
 .itemTitle {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    margin-bottom: 10px;
    font-size: 1.2rem;

  }

  .date{
    color: #611717;
    margin-top: 1rem;
  }